# Compiled class file
*.class

# Log file
*.log
.idea
# BlueJ files
*.ctxt
.idea/compiler.xml
.idea/misc.xml
.idea/workspace.xml
.idea/
# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
replay_pid*

# Pliki tymczasowe generowane podczas rozwoju
node_modules/
.cache/
dist/
build/

# Plik konfiguracyjny środowiska
.env

# Pliki systemu operacyjnego
.DS_Store

# Pliki konfiguracyjne IDE
.idea/
.vscode/

# Pliki konfiguracyjne narzędzi
package-lock.json
yarn.lock

# Inne pliki konfiguracyjne
*.log